# Argon / Rojo
sourcemap.json
*.rbxl
*.rbxlx
*.rbxl.lock
*.rbxlx.lock
*.rbxm
*.rbxmx

# Editor
.DS_Store
Thumbs.db
CLAUDE.md
.claude
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/BaseCamera.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/BaseCamera.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/BaseOcclusion.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/BaseOcclusion.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/CameraInput.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/CameraInput.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/CameraToggleStateController.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/CameraToggleStateController.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/CameraUI.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/CameraUI.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/CameraUtils.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/CameraUtils.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/ClassicCamera.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/ClassicCamera.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/init.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/init.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/Invisicam.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/Invisicam.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/LegacyCamera.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/LegacyCamera.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/MouseLockController.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/MouseLockController.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/OrbitalCamera.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/OrbitalCamera.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/Poppercam.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/Poppercam.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/TransparencyController.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/TransparencyController.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/VehicleCamera/init.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/VehicleCamera/init.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/VehicleCamera/VehicleCameraConfig.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/VehicleCamera/VehicleCameraConfig.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/VehicleCamera/VehicleCameraCore.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/VehicleCamera/VehicleCameraCore.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/VRBaseCamera.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/VRBaseCamera.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/VRCamera.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/VRCamera.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/VRVehicleCamera.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/VRVehicleCamera.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/ZoomController/init.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/ZoomController/init.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/ZoomController/Popper.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CameraModule/ZoomController/Popper.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CommonUtils/CameraWrapper.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CommonUtils/CameraWrapper.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CommonUtils/CameraWrapper.spec.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CommonUtils/CameraWrapper.spec.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CommonUtils/CharacterUtil.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CommonUtils/CharacterUtil.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CommonUtils/ConnectionUtil.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CommonUtils/ConnectionUtil.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CommonUtils/ConnectionUtil.spec.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CommonUtils/ConnectionUtil.spec.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CommonUtils/FlagUtil.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/CommonUtils/FlagUtil.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/AvatarAbilitiesInterface.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/AvatarAbilitiesInterface.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/BaseCharacterController.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/BaseCharacterController.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/ClickToMoveController.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/ClickToMoveController.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/ClickToMoveDisplay.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/ClickToMoveDisplay.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/DynamicThumbstick.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/DynamicThumbstick.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/Gamepad.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/Gamepad.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/init.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/init.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/Keyboard.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/Keyboard.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/PathDisplay.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/PathDisplay.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/TouchJump.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/TouchJump.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/TouchThumbstick.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/TouchThumbstick.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/VehicleController.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/VehicleController.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/VRNavigation.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/ControlModule/VRNavigation.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerModule/init.luau
src/StarterPlayer/StarterPlayerScripts/PlayerModule/init.meta.json
src/StarterPlayer/StarterPlayerScripts/PlayerScriptsLoader.client.luau
src/StarterPlayer/StarterPlayerScripts/PlayerScriptsLoader.meta.json
src/StarterPlayer/StarterPlayerScripts/RbxCharacterSounds/AtomicBinding.luau
src/StarterPlayer/StarterPlayerScripts/RbxCharacterSounds/AtomicBinding.meta.json
src/StarterPlayer/StarterPlayerScripts/RbxCharacterSounds/init.client.luau
src/StarterPlayer/StarterPlayerScripts/RbxCharacterSounds/init.meta.json
src/Workspace/Living/Rig/Animate.client.luau
src/Workspace/Living/Rig/init.meta.json
