# Argon / Rojo
sourcemap.json
*.rbxl
*.rbxlx
*.rbxl.lock
*.rbxlx.lock
*.rbxm
*.rbxmx

# Editor
.DS_Store
Thumbs.db
CLAUDE.md
.claude
src/StarterPlayer/StarterPlayerScripts/PlayerModule
src/StarterPlayer/StarterPlayerScripts/RbxCharacterSounds
src/Workspace/Living/Rig/Animate.client.luau
src/Workspace/Living/Rig/init.meta.json